<!doctype html>

<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" />
{% block header %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/led">Allumer les leds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/off">Eteindre les leds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/on/led1">Allumer la led 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/on/led2">Allumer la led 2</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="/off/led1">Eteindre la led 1</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="/off/led2">Eteindre la led 2</a>
  </li>
</ul>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}
